@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

body {
  background: #ffffff;
  margin-left: 117px;
}

a {
  text-decoration: none !important;
}

.productDisplay {
  display: flex;
  flex-wrap: wrap;
}

.productItem {
  flex-grow: 1;
  margin: 10px 80px;
  width: 386px;
  height: 444px;
  text-align: center;
  padding: 16px;
}

.productItem:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.productImage {
  height: auto;
  max-height: 330px;
  width: auto;
  max-width: 350px;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.productImage-outofstock {
  height: auto;
  max-height: 330px;
  width: auto;
  max-width: 350px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  opacity: 0.3;
}

.productName {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  color: black;
  font-weight: 300;
}

.productName-outofstock {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  color: grey;
}

.product-price-category-page {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  color: black;
}

.product-price-outofstock-category-page {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  color: grey;
}

.categoryName {
  font-size: 42px;
  font-weight: 400;
}

.outOfStock {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  top: 150px;
  color: #8D8F9A;
}

.atc-icon {
  z-index: 1;
  position: absolute;
  bottom: 92px;
  right: 130px;
}

.product-item-container {
  position: relative;
}

