.minicart-box {
  height: auto;
  width: 500px;
  background-color: white;
  top: 75px;
  right: 100px;
  position: absolute;
  box-shadow: 0px 50px 55px rgba(168, 172, 176, 0.19);
  filter: drop-shadow(0px 50px 55px rgba(168, 172, 176, 0.19));
  z-index: 2;
  padding-left: 17px;
}

.minicart-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 23px;
}

.B-itemCard {
  margin: 10px, 10px, 10px, 0px;
  width: 250px;
  display: grid;
  grid-template-columns: auto, auto, auto;
  margin-bottom: 43px;
}

.B-brand-name {
  grid-column: 1/2;
  grid-row: 1;
  position: relative;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.B-item-name {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  font-size: 16px;
  font-weight: 300;
}

.right-items {
  position: relative;
  bottom: 38px;
}

.B-qtyContainer {
  float: right;
  position: fixed;
  right: 150px;
}

.prodImg {
  height: auto;
  width: 90px;
  float: right;
  position: fixed;
  right: 15px;
}

.B-attributes {
  grid-row: 3;
  grid-column: 1;
}

.B-sign {
  border: 1px solid black;
  padding: 2px 8px;
  font-size: 20px;
  font-weight: bold;
}

.B-qtyNum {
  text-align: center;
  font-size: 20px;
}

.attribute-text-item,
.attribute-text-item-selected {
  padding: 3px 6px !important;
  margin-right: 3px !important;
}

.viewBagButton {
  border: 1px solid black;
  font-weight: 900;
  width: 180px;
  color: black;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  bottom: 0px;
}

.viewBagButton:hover {
  background-color: black;
  color: white;
}

.checkOut {
  font-weight: 900;
  width: 200px;
  color: black;
  text-align: center;
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: #5ece7b;
  color: white;
  position: relative;
  left: 0px;
  bottom: 10px;
}

.checkOut:hover {
  background-color: black;
}

.minicartButtons {
  display: flex;
  flex-direction: row;
}

.swatch-border {
  padding: 1px;
  width: 40px;
  border: 2px solid black;
  border-radius: 20%;
  margin-right: 15px;
}

.total-price-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: justify;
  margin-top: 50px;
}

.total-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: right;
}

.item-price {
  margin-top: 5px;
  margin-bottom: 27px;
}

.product-img-minicart{
  width: 105px;
  max-height: 137px;
  height: auto;
  position: absolute;
  right: -230px;
}

.arrow-left-minicart {
  z-index: 1 !important;
  width: 6px !important;
  height: 12px !important;
  right: -124px !important;
  padding-top: 60px;
  position: absolute;
  opacity: 0.6;
}

.arrow-right-minicart {
  z-index: 1 !important;
  width: 6px !important;
  height: 12px !important;
  right: -226px !important;
  padding-top: 60px !important;
  position: absolute !important;
  opacity: 0.6;
}

.arrow-left-container-minicart {
  z-index: 1;
  right: -129px !important;
  height: 16px;
  width: 16px;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  margin-top: 58px;
  opacity: 0.3;
}

.arrow-right-container-minicart {
  z-index: 1;
  right: -230px !important;
  height: 16px !important;
  width: 16px !important;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  margin-top: 58px;
  opacity: 0.3;
}

.arrow-right-container-minicart:hover,
.arrow-left-container-minicart:hover {
  opacity: 1 !important;
}

