@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap");


* {
  font-family: "Raleway", sans-serif;
}

body {
  background: #ffffff;
  margin-left: 117px;
}

.navBar {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  height: 80px;
  width: 1440px;
  margin-top: 28px;
  margin-bottom: 32px;
  margin-right: 106px;
  padding-bottom: 32px;
}

.navTypeSelectBtn {
  height: 10px;
  font-family: Raleway;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1d1f22;
  background-color: transparent;
  border: none;
  margin-top: 23px;
  margin-bottom: 32px;
  margin-right: 20px;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 60px;
}

.navTypeSelectBtn:active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.navTypeSelectBtn:hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.currencySelect {
  border: 0px !important;
  outline: none !important;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  text-align: justify;
}

.currencySelect:after {
  border: 0px !important;
  outline: none !important;
  font-size: 10px;
  font-weight: lighter;
  width: 100%;
  text-align: justify;
}

.cart_icon {
  display: flex;
  height: 20px;
  width: 20px;
  margin-left: 50px;
  padding-bottom: 32px;
  margin-top: 5px;
  position: absolute;
  top: 33px;
  right: 101px;
  bottom: 27px;
}

.store_logo {
  display: flex;
  align-content: center;
  margin: auto;
  margin-bottom: 15px !important;
  padding-bottom: 32px;
  top: 24px;
  width: 30px;
  height: 30px;
  right: 700px;
  left: 700px;
  position: absolute;
}

.activeCurrency {
  padding: 5px;
  border-radius: 30%;
}

.bag-count {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: black;
  color: white;

  margin-left: 50px;
  margin-top: 5px;
  position: absolute;
  right: 88px;
  top: 25px;
  z-index: 1;
}

.bag-count-hidden {
  display: none;
}

.active-currency {
  font-size: 18px;
  font-weight: 500;
  font-family: Raleway;
  line-height: 28.8px;
  position: absolute;
  right: 159px;
}

.currencySelectContainer {
  position: absolute;
  right: 30px;
  top: 35px;
}

.currencyDropDown {
  z-index: 1;
  width: 75px;
  height: auto;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  padding: 20px 40px 20px 20px;
  position: absolute;
  right: 50px;
  top: 40px;
}

.currency {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}

.currency:hover {
  font-size: 19px;
}
.active-currency {
  padding-left: 20px;
  font-weight: 500;
}

.arrow-image {
  position: absolute;
  right: 143px;
  top: 15px;
}
