* {
  font-family: "Raleway", sans-serif;
}

body {
  background: #ffffff;
  margin-left: 117px;
  
}

.navBar {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  height: 80px;
  width: 1440px;
  margin-top: 23px;
  margin-bottom: 32px;
  margin-right: 106px;
  padding-bottom: 32px;
}

.navTypeSelectBtn {
  height: 10px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1d1f22;
  background-color: transparent;
  border: none;
  margin-top: 23px;
  margin-bottom: 32px;
  margin-right: 20px;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 60px;
}

.navTypeSelectBtn:active {
  color: #5ece7b;
  border-bottom: 3px solid #5ece7b;
}

.navTypeSelectBtn:hover {
  color: #5ece7b;
  border-bottom: 3px solid #5ece7b;
}

.currencySelectContainer {
  display: flex;
  font-weight: bold;
  font-size: 70px;
  margin-left: auto;
  width: 50px;
  height: 29px;
  padding-bottom: 32px;
  position: absolute;
  right: 190px;
  border: 0px !important;
  outline: none !important;
}

.currencySelect {
  border: 0px !important;
  outline: none !important;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  text-align: justify;
}

.currencySelect:after {
  border: 0px !important;
  outline: none !important;
  font-size: 10px;
  font-weight: lighter;
  width: 100%;
  text-align: justify;
}

.cart_icon {
  display: flex;
  height: auto;
  width: 30px;
  margin-left: 50px;
  padding-bottom: 32px;
  margin-top: 5px;
  position: absolute;
  right: 100px;
}

.store_logo {
  display: flex;
  align-content: center;
  margin: auto;
  padding-bottom: 32px;
  top: 15px;
  width: 40px;
  height: 40px;
  right: 850px;
  position: absolute;
}

.activeCurrency {
  padding: 5px;
  border-radius: 30%;
}
