@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

body {
  background: #ffffff;
  margin-left: 117px;
}

.container {
  display: flex;
  flex-direction: row;
}

.sideImagesContainer {
  width: 100px;
}

.sideImages {
  width: 100%;
  margin-bottom: 20px;
}

.sideImages:hover {
  box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.19);
  filter: drop-shadow(0px 7px 35px rgba(0, 0, 0, 0.19));
}

.mainImg {
  width: 100%;
}
.mainImg-outOfStock {
  width: 100%;
  opacity: 0.3;
}

.outOfStock-PDP {
  font-size: 24px;
  position: absolute;
  z-index: 1;
  left: 450px;
  top: 430px;
}

.mainImgContainer {
  width: 500px;
  margin-left: 40px;
  margin-bottom: 300px;
  margin-right: 40px;
}

.prodBrand-PDP {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 16px;
}

.prodTitle-PDP {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 45px;
}

.infoAndActionColumn {
  margin-left: 80px;
}

.sub-title-text {
  font-weight: bold;
  font-size: 25px;
}

/* Attributes Start Here */
.attribute-swatch-PDP {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 50px;
}

.color-box-green-PDP {
  height: 36px;
  width: 46px;
  border-radius: 20%;
  background-color: #44ff03;
  box-shadow: 0px 7px 50px rgba(0, 0, 0, 0.19);
  filter: drop-shadow(0px 7px 35px rgba(0, 0, 0, 0.19));
  margin-right: 12px;
}

.color-box-cyan-PDP {
  height: 36px;
  width: 46px;
  border-radius: 20%;
  background-color: #03fff7;
  box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.19);
  filter: drop-shadow(0px 7px 35px rgba(0, 0, 0, 0.19));
  margin-right: 12px;
}

.color-box-blue-PDP {
  height: 36px;
  width: 46px;
  border-radius: 20%;
  background-color: #030bff;
  box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.19);
  filter: drop-shadow(0px 7px 35px rgba(0, 0, 0, 0.19));
  margin-right: 12px;
  margin-top: 0.5px;
}

.color-box-black-PDP {
  height: 36px;
  width: 46px;
  border-radius: 20%;
  background-color: black;
  box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.19);
  filter: drop-shadow(0px 7px 35px rgba(0, 0, 0, 0.19));
  margin-right: 12px;
  margin-left: 1px;
  margin-top: 0.5px;
  padding: 0px;
}

.color-box-white-PDP {
  height: 36px;
  width: 46px;
  border-radius: 20%;
  box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.19);
  filter: drop-shadow(0px 7px 35px rgba(0, 0, 0, 0.19));
  margin-right: 12px;
}

.color-box-green-PDP:hover,
.color-box-white-PDP :hover,
.color-box-black-PDP:hover,
.color-box-blue-PDP:hover,
.color-box-cyan-PDP:hover {
  height: 40px;
  width: 50px;
}

.swatch-border-PDP {
  padding-right: 7px;
  width: 40px;
  border: 2px solid black;
  border-radius: 20%;
  margin-right: 12px;
}

.attribute-name-PDP {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 150%;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.product-price-PDP {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  margin-top: 10px;
}

.product-price-outofstock-PDP {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  margin-top: 10px;
  color: grey;
}

.attribute-text-PDP {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

.attribute-text-item-PDP {
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid black;
  line-height: 230%;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
  width: 60px !important;
  margin-right: 12px;
  height: 42px !important;
  letter-spacing: 0.05em;
}

.attribute-text-item-PDP:hover,
.attribute-text-item-selected-PDP {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 230%;
  border: 1px solid black;
  color: white;
  background-color: black;
  margin-top: 8px;
  text-align: center;
  width: 60px !important;
  margin-right: 12px;
  height: 42px !important;
  letter-spacing: 0.05em;
}

/* Attributes End Here */

.add-to-cart-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #5ece7b;
  text-align: center;
  width: 350px;
  padding: 20px 0px;
  margin-top: 50px;
  color: white;
  font-weight: 600;
  font-style: normal;
}

.add-to-cart-button:hover {
  background-color: black;
  text-align: center;
  width: 350px;
  padding: 20px 0px;
  margin-top: 50px;
  color: white;
  font-weight: 900;
}

.product-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  font-size: 16px;
  width: 350px;
  line-height: 160%;
}

.add-to-cart-button-notInStock {
  background-color: rgb(78, 77, 77);
  text-align: center;
  width: 350px;
  padding: 20px 0px;
  margin-top: 50px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.out-of-stock-tag {
  text-align: center;
  margin-top: 2px;
}

.alert-message-pdp {
  color: red !important;
  font-family: "Raleway", sans-serif;
}
