@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: #FFFFFF;
    margin-left: 117px;   
}

a {
    text-decoration: none !important;
}

.productDisplay {
    display: flex;
    flex-wrap: wrap;
}
.productItem {
    flex-grow: 1;
    margin: 10px 80px;
    text-align: center;
    padding: 30px 30px 20px 30px;
}

.productItem:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));

}

.productImage img {
    height: 500px;
    width: 500px;
}

.productItem h1, p {
    text-align: left;
    font-size: 50px;
    font-weight: lighter;
    color: black;

}

.productItem p {
    text-align: left;
    font-size: 50px;
    font-weight: bold;
}

.categoryName {
    font-size: 40px;
}
