@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: #FFFFFF;
    margin-left: 117px;   
}

.navBar {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    height: 80px;
    Width: 1440px;
    margin-top: 23px;
    margin-bottom: 32px;
    margin-right: 106px;
    padding-bottom: 32px;
    
}

.navTypeSelectBtn {
    height: 10px;
    font-family: Raleway;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1D1F22;
    background-color: transparent;
    border: none;
    margin-top: 23px;
    margin-bottom: 32px;
    margin-right: 20px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
}

.navTypeSelectBtn:active {
    color: #5ECE7B;
    border-bottom: 3px  solid #5ECE7B;

}

.navTypeSelectBtn:hover {
    color: #5ECE7B;
    border-bottom: 3px  solid #5ECE7B;

}

.currencySelector {
    display: flex;
    margin-left: auto;
    width: 38px;
    height: 29px;
    padding-bottom: 32px;
    
}

.cart_icon {
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 50px;
    padding-bottom: 32px;
    margin-top: 5px;;
}

.store_logo {
    display: flex;
    align-content: center;
    margin: auto;
    padding-bottom: 32px;
    width: 40px;
    height: 40px;
}

.activeCurrency {
    padding: 5px;
    border-radius: 30%;
}

.currencySelectContainer{
    width: 90px;
}

.currencySelect {
    border: 0px !important;
    outline: none;
    width: 100%;
    text-align: justify;
}
